.chart-container {
  background-color: #eff0ef;
  width: 100%;
  padding: 2rem 0;

  .chart {
    width: 80%;
    margin: 0 auto;
    background: #fff;
    box-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
    padding: 0.5rem 0;
    box-sizing: border-box;
  }
}